body {
  scroll-behavior: smooth;
  overflow: hidden;
}
body nav .nav-wrapper .link:hover {
  font-size: 14vw;
}
body main {
  background: linear-gradient(320deg, rgb(59, 1, 117), rgb(26, 22, 21), rgb(0, 54, 105));
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
}
body main .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  line-height: 16vw;
}
body main .title-wrapper #greatest {
  padding-bottom: 7vh;
  font-size: 17vw;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.contact-body {
  overflow: hidden;
  background: linear-gradient(150deg, rgb(65, 2, 128), #1a1615);
}
.contact-body .contact-wrapper {
  display: grid;
  grid-template-columns: 15vw 1fr;
}

.medias-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.medias-wrapper .medias {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.medias-wrapper .medias > * {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 25%;
  transition: 0.2s;
  border: none;
}
.medias-wrapper .medias > *:hover {
  transform: scale(1.2);
}
.medias-wrapper .medias .gmail-button {
  display: flex;
  width: 8vw;
  margin-bottom: 0;
  height: 8vh;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.8vw;
  font-family: "BitMap";
  transition: all 0.2s;
  color: rgba(223, 223, 223, 0.279);
}
.medias-wrapper .medias .gmail-button:hover {
  border: 1px solid rgb(219, 253, 255) !important;
  opacity: 1;
}
.medias-wrapper .medias .gmail-button:focus {
  outline: none !important;
  height: 70px;
  border: 2px rgb(127, 0, 255) solid !important;
}
.medias-wrapper .medias a img {
  width: 4vw;
  height: 4vw;
}
.medias-wrapper .medias a .linkedin {
  transform: scale(1.5);
}

.form-wrapper {
  z-index: 3;
  display: flex;
  margin-top: 3vh;
  margin-right: 3vh;
  height: 100vh;
  flex-direction: column;
}
.form-wrapper label {
  width: 100%;
}
.form-wrapper #contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 23vh;
  color: white;
  width: 100%;
  font-size: 1.8vw;
  transition: all 0.2s;
}
.form-wrapper #contact-button:hover {
  animation: background-pan 5s linear infinite;
  letter-spacing: 4px;
  font-family: "Rosie";
  font-size: 8vw;
  border: none !important;
  background: linear-gradient(to right, rgb(17, 199, 245), rgb(127, 0, 255), rgb(17, 199, 245));
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-wrapper #contact-button:focus {
  outline: none !important;
  border: none !important;
}
.form-wrapper #contact-button:focus::-moz-placeholder {
  color: transparent;
}
.form-wrapper #contact-button:focus::placeholder {
  color: transparent;
}

.style-inputs {
  height: 10vh;
  width: 100%;
  margin-bottom: 7px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  text-align: center;
  letter-spacing: 1px;
  color: rgb(219, 253, 255);
  font-size: 1.8vw;
  font-family: "BitMap";
  transition: all 0.2s;
}
.style-inputs::-moz-placeholder {
  color: rgba(223, 223, 223, 0.579);
}
.style-inputs::placeholder {
  color: rgba(223, 223, 223, 0.579);
}
.style-inputs:hover {
  border: 1px solid rgb(219, 253, 255) !important;
}
.style-inputs:hover::-moz-placeholder {
  opacity: 1;
}
.style-inputs:hover::placeholder {
  opacity: 1;
}
.style-inputs:focus {
  outline: none !important;
  height: 70px;
  border: 2px rgb(127, 0, 255) solid !important;
}
.style-inputs:focus::-moz-placeholder {
  color: transparent;
}
.style-inputs:focus::placeholder {
  color: transparent;
}

#email {
  border-start-start-radius: 20px;
  border-top-right-radius: 20px;
}

textarea {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  resize: none;
  margin-bottom: 7px;
  padding-top: 20px;
  height: 55vh;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.8vw;
  color: rgb(219, 253, 255);
  font-family: "BitMap";
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.2s;
}
textarea::-moz-placeholder {
  color: rgba(223, 223, 223, 0.579);
}
textarea::placeholder {
  color: rgba(223, 223, 223, 0.579);
}
textarea:hover {
  border: 1px solid rgb(219, 253, 255) !important;
}
textarea:focus {
  text-align: start;
  outline: none !important;
  border: 2px rgb(127, 0, 255) solid !important;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Fira";
  src: url("../../assets/fonts/Fira.woff2") format("woff2");
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.hero-body {
  top: 0;
  left: 0;
  height: auto;
  background: linear-gradient(150deg, rgb(65, 2, 128), #1a1615);
  color: rgb(194, 216, 218);
  overflow-y: scroll;
}
.hero-body nav {
  position: fixed;
}
.hero-body .introo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
  width: 100vw;
  text-align: center;
}
.hero-body .segment {
  overflow: hidden;
  width: 100vw;
  margin-top: 30px;
}
.hero-body .segment .code {
  overflow: hidden;
  border: 1px solid rgba(223, 223, 223, 0.279);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(42, 23, 48, 0.319);
  margin: 0px 60px;
  padding: 15px 30px;
}
.hero-body .segment .code p {
  font-family: "Fira";
  color: rgb(194, 216, 218);
  font-size: 1.3vw;
}
.hero-body .segment .code p .type {
  color: rgb(148, 49, 202);
}
.hero-body .segment .code p .name {
  color: rgb(221, 97, 245);
}
.hero-body .segment .code p .pp {
  color: rgb(207, 165, 230);
}
.hero-body .segment .code p .string {
  color: rgb(141, 141, 141);
}
.hero-body .segment .code p .std {
  color: rgb(14, 142, 156);
}
.hero-body .segment .code p .values {
  color: rgb(125, 196, 255);
}
.hero-body .segment .code p .function {
  color: rgb(62, 236, 212);
}
.hero-body .segment .code p .commentary {
  color: rgb(100, 100, 100);
}
.hero-body .segment .code .big {
  font-weight: bold;
}

#easier-segment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#easier-segment #easier-button {
  height: 10vh;
  background-color: transparent;
  margin-top: 5vh;
  width: 80%;
  margin: 5vh 160px 5vh 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: rgba(223, 223, 223, 0.279) 1px solid;
  color: rgb(194, 216, 218);
  font-size: 2vw;
  font-family: "BitMap";
}
#easier-segment #easier-button:hover {
  border: 1px solid rgb(194, 216, 218);
}
#easier-segment #text-me {
  display: none;
  line-height: 35px;
  word-spacing: 2px;
  background-color: rgba(89, 32, 123, 0.146);
  border-radius: 45px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  margin: 0px 7vw;
  padding: 40px 30px 40px 30px;
}

.languages-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: rgba(223, 223, 223, 0.279) 1px solid;
}
.languages-wrapper #languages {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@font-face {
  font-family: "Rosie";
  src: url("../../assets/fonts/Rosie.woff2") format("woff2");
}
@font-face {
  font-family: "Croissant";
  src: url("../../assets/fonts/Croissant.woff2") format("woff2");
}
@keyframes plus-color {
  from {
    background-color: rgba(219, 253, 255, 0.184);
  }
  to {
    background-color: rgb(219, 253, 255);
  }
}
html #work-body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100%;
  margin: 0px;
  background-color: rgb(25, 19, 28);
}
html #work-body * {
  box-sizing: border-box;
}
html #work-body main {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

article {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease-in;
}
article[data-status=inactive] {
  transform: translateX(-100%);
  transition: none;
}
article[data-status=active] {
  transform: translateX(0%);
}
article[data-status=before] {
  transform: translateX(-100%);
}
article[data-status=after] {
  transform: translateX(100%);
}
article[data-status=becoming-active-from-before] {
  transform: translateX(-100%);
  transition: none;
}
article[data-status=becoming-active-from-after] {
  transform: translateX(100%);
  transition: none;
}
article .starting-article-wrapper {
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  border-bottom: 1px solid rgba(219, 253, 255, 0.184);
}
article .starting-article-wrapper .article {
  height: 100%;
  display: flex;
}
article .starting-article-wrapper .image {
  background-position: initial;
  background-size: cover;
}
article .starting-article-wrapper:nth-child(2) > .image {
  background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}
article .starting-article-wrapper:nth-child(3) > .image {
  background-image: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}
article .starting-article-wrapper:nth-child(4) > .image {
  background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}
article .starting-article-wrapper #gol {
  background-image: url("../../assets/works/gameolife.gif");
}
article .starting-article-wrapper #kab {
  background-image: url("../../assets/works/Hannibal.jpg");
}
article .starting-article-wrapper #bon {
  background-image: url("../../assets/works/bon.jpg");
}
article .starting-article-wrapper #sh {
  background-image: url("../../assets/works/42sh.png");
}
article .starting-article-wrapper .nav {
  border-top: 1px solid rgba(219, 253, 255, 0.184);
  border-left: 1px solid rgba(219, 253, 255, 0.184);
}
article .starting-article-wrapper .nav .nav-button {
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
article .starting-article-wrapper .nav .nav-button:hover {
  background-color: rgba(234, 174, 252, 0.04);
}
article .starting-article-wrapper .nav .nav-button:hover svg {
  fill: rgb(219, 253, 255);
}
article .starting-article-wrapper .nav .nav-button:nth-child(2) {
  border-left: 1px solid rgba(219, 253, 255, 0.184);
}
article .starting-article-wrapper .nav .nav-button svg {
  fill: rgba(219, 253, 255, 0.184);
  margin-top: 10px;
  height: "60px";
  width: "60px";
  transition: all 0.2s;
}
article .starting-article-wrapper .nav .nav-button svg:hover {
  fill: rgb(219, 253, 255);
}
article .starting-article-wrapper .description {
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  line-height: 40px;
  border-left: 1px solid rgba(219, 253, 255, 0.184);
  color: rgb(146, 153, 197);
}
article .starting-article-wrapper .description p {
  font-size: 27px;
}
article .starting-article-wrapper .description p a:hover {
  text-decoration: underline;
}
article .starting-article-wrapper .title-section {
  align-items: center;
  justify-content: space;
  text-align: start !important;
  border-top: 1px solid rgba(219, 253, 255, 0.184);
}
article .starting-article-wrapper .title-section .title-wrapper-work {
  width: 100%;
  margin-left: 30px;
}
article .starting-article-wrapper .title-section .title-wrapper-work .title {
  font-size: 70px;
}
article .starting-article-wrapper .title-section .plus {
  position: relative;
  height: 100%;
  width: 280px;
  transition: 0.2s all;
  background: transparent;
  border: none;
  transition: all 0.1s;
}
article .starting-article-wrapper .title-section .plus:hover {
  background: linear-gradient(to left, rgba(234, 174, 252, 0.04) 40%, transparent);
}
article .starting-article-wrapper .title-section .plus:hover .plus-bar {
  animation: plus-color 0.1s;
  background-color: rgb(219, 253, 255);
}
article .starting-article-wrapper .title-section .plus .plus-bar {
  position: absolute;
  height: 50px;
  width: 5px;
  background-color: rgb(80, 61, 108);
}
article .starting-article-wrapper .title-section .plus .vertical {
  top: 36%;
  left: 49%;
}
article .starting-article-wrapper .title-section .plus .horizontal {
  position: absolute;
  height: 80px;
  transform: rotate(90deg);
  top: 28%;
  left: 50%;
}
article .rest {
  margin: 100px;
  z-index: 4;
}
article .rest p {
  color: rgb(219, 253, 255);
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home-body {
  overflow: hidden;
  background: linear-gradient(320deg, rgb(64, 2, 125), rgb(25, 19, 28));
  width: 100vw;
  height: 100vh;
}
.home-body .steve > img {
  opacity: 0.4;
  z-index: -3;
  position: absolute;
  top: 5vh;
  left: 40vw;
  width: 60vw;
  height: auto;
}
.home-body .home-text {
  position: absolute;
  left: 7vw;
  top: 35vh;
  font-style: italic;
  line-height: 7vh;
  color: rgb(146, 153, 197);
  font-size: 2.5vw;
}

@font-face {
  font-family: "Rosie";
  src: url("../assets/fonts/Rosie.woff2") format("woff2");
}
@font-face {
  font-family: "Croissant";
  src: url("../assets/fonts/Croissant.woff2") format("woff2");
}
@font-face {
  font-family: "BitMap";
  src: url("../assets/fonts/BitMap.woff2") format("woff2");
}
@font-face {
  font-family: "Eiko";
  src: url("../assets/fonts/PPEiko-Medium.otf") format("opentype");
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes star-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html body {
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  background: #1a1615;
  scroll-behavior: smooth;
  font-size: 25px;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0;
  font-family: "BitMap";
  color: #dbfdff;
}
html body .magic {
  animation: background-pan 3s linear infinite;
  white-space: nowrap;
  background: linear-gradient(to right, #11c7f5, #7f00ff, #11c7f5);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 5px;
}
html body .title {
  font-style: normal;
  font-family: "Rosie";
  font-weight: 500;
  font-size: 90px;
}
html body .title .to-grip {
  margin-left: -10px;
}
html body .details {
  font-family: "BitMap";
  font-size: 90px;
}
html body #fadeInNextPage {
  position: absolute;
  width: 1000%;
  height: 1000%;
  opacity: 0;
  background-color: #1a1615;
}

nav {
  position: absolute;
  z-index: 10;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
nav .nav-wrapper {
  display: grid;
  overflow: visible;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  justify-items: center;
  align-items: center;
}
nav .nav-wrapper a {
  font-size: 5vw;
  font-family: "BitMap";
  font-style: normal;
  color: #dbfdff;
  align-self: center;
  text-decoration: none;
  transition: all 0.2s;
}
nav .nav-wrapper a:hover {
  animation: background-pan 5s linear infinite;
  letter-spacing: 4px;
  font-family: "Rosie";
  font-size: 12vw;
  background: linear-gradient(to right, #11c7f5, #7f00ff, #11c7f5);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bigger {
  color: rgb(219, 253, 255);
  font-size: 3.5vw;
  font-style: italic;
}

.explain {
  position: absolute;
  bottom: 4vh;
  left: 3vw;
}

.center-bar {
  width: 0px;
  height: 100%;
  border: 1px white solid;
  position: absolute;
  top: 0;
  left: 50%;
}/*# sourceMappingURL=style.css.map */