@import "specifics/index";
@import "specifics/contact";
@import "specifics/hero";
@import "specifics/works";

@font-face { font-family: 'Rosie'; src: url('../assets/fonts/Rosie.woff2') format('woff2'); }
@font-face { font-family: 'Croissant'; src: url('../assets/fonts/Croissant.woff2') format('woff2'); }
@font-face { font-family: 'BitMap'; src: url('../assets/fonts/BitMap.woff2') format('woff2'); }
@font-face { font-family: 'Eiko'; src: url('../assets/fonts/PPEiko-Medium.otf') format("opentype"); }

$stylish-font : "Rosie";
$details-font : "BitMap";
$primary-font : "Space Mono", monospace;
$bg-color : rgb(26, 22, 21); 
$first-color: rgb(219, 253, 255);
$violet:rgb(127, 0, 255);
$in-between-violet: rgb(0, 42, 255);
$blue: rgb(17, 199, 245);

@keyframes background-pan {
    from { background-position: 0% center; }
    to { background-position: -200% center; }
}

@keyframes star-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



//______________________________________ GENERAL BODY SETTINGS ______________________________________//



html {
    body {
        top: 0;
        left: 0;
        -webkit-font-smoothing:antialiased;
        background: $bg-color;
        scroll-behavior: smooth;
        font-size: 20px;
        font-style: italic;
        width: 100vw;
        margin-top: 0px;
        margin-left: 0;
        font-family: $primary-font;
        .magic {
            animation: background-pan 3s linear infinite;
            white-space: nowrap;
            background: linear-gradient(to right, $blue, $violet, $blue);
            background-size: 200%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-right: 1px;
        }
        color: $first-color;
        .title {
            font-style: normal;
            font-family: $stylish-font;
            font-weight: 500;
            font-size: 90px;
            .to-grip {
                margin-left: -10px;
            }
            
            
        }
        .details {
            font-family: $details-font; 
            font-size: 90px;
        }
    }
}



//______________________________________ NAVIGATION MENU SETTINGS ______________________________________//

    

nav {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    .nav-wrapper {
        display: grid;
        overflow: visible;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        justify-items: center;
        align-items: center;
        .nav-bar {
            width: 80%;
            height: 1px;
            animation: background-pan 5s linear infinite;
            background: linear-gradient(
                to right,
                $blue,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0),
                $violet,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0),
                $blue
            );
            background-size: 200%;
        }
        a {
            font-size: 70px;
            font-family: $details-font;
            font-style: normal;
            color: white;
            align-self: center;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                animation: background-pan 5s linear infinite;
                letter-spacing: 4px;
                font-family: $stylish-font;
                font-size: 90px;
                font-weight: 900;
                background: linear-gradient(to right, $blue, $violet, $blue);
                background-size: 200%;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:focus {
                z-index: 1000;
                background: black;
                font-size: 1000px;
            }
        }
    }
}



//______________________________________ CENTER LANDMARK ______________________________________//



.center-bar {
    width: 0px;
    height: 100%;
    border: 1px white solid;
    position: absolute;
    top: 0;
    left: 50%;
}
