@font-face {
	font-family: 'Rosie';
	src: url('../assets/fonts/Rosie.woff2') format('woff2');
}
@font-face {
	font-family: 'Migra';
	src: url('../assets/fonts/Migra.woff2') format('woff2');
}
@font-face {
	font-family: 'Catchye';
	src: url('../assets/fonts/Catchye.woff2') format('woff2');
}
@font-face {
	font-family: 'Newyork';
	src: url('../assets/fonts/ny.woff2') format('woff2');
}
@font-face {
	font-family: 'steelfish';
	src: url('../assets/fonts/steelfish/steelfish\ rg.woff2') format('woff2');
}
@font-face {
	font-family: 'steelfish';
	src: url('../assets/fonts/Aesthetic\ Romance.woff2') format('woff2');
}

@import "segments/projects";
@import "segments/nav-bar";
@import "segments/intro";
@import "segments/deco";
@import "segments/skills";
@import "segments/about";

$secondary-font : "steelfish";
$stylish-font : "Rosie";
$primary-font : "Noto";
$bg-color : rgb(26, 22, 21); 
$first-color: rgb(242, 233, 204);
$secondary-color: #e28b34;

html {
    body {
        top: 0;
        left: 0;
        -webkit-font-smoothing :antialiased;
        background: $bg-color;
        scroll-behavior: smooth;
        font-size: 20px;
        font-style: italic;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
        font-family: $primary-font;
        color: $first-color;

        section {
            border: 1px solid red;
        }

        p {   
            word-spacing: 5px;
            line-height: 200%;
        }    
        .title {
            font-style: normal;
            font-family: $stylish-font;
            color: $first-color;
            font-weight:100;
            font-size: 90px;

            .orange { color: $secondary-color; }

            #blue { color: $secondary-color; }

            #orange { color: $secondary-color;}
        }
    }
}

// _______________________________________________________________________________ //

.big-ahh-circle {
    background : linear-gradient(330deg ,$bg-color 8%, #ff9428);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: -3;
    width: 150rem;
    height: 150rem;
    top: -1750px;
    left: -1200px;
    #first {
        top: -1750px;
        left: -1200px;
    }
}

.bar {
    position: absolute;
    background-color: $first-color;
    height: 1px;
    border-radius: 25px;
    z-index: -1;
}

#mini-1 { top: 812px; right:0; width: 250px; }
#b1 { top: 827px; right: 0; width: 500px; }
#transition-bar1 { top: 842px; right: 0; width: 100%; }
#b2 { top: 857px; left: 0; width: 500px; }
#mini-2 { top: 872px; left:0; width: 250px; }

// #mini-3 { top: 1780px; left:0; width: 250px; }
// #b3 { top: 1795px; left:0; width: 500px; }
// #transition-bar3 { top: 1810px; right: 0; width: 100%; }
// #b4 { right: 0; top: 1825px; width: 500px; }
// #mini-4 { top: 1840px; right:0; width: 250px; }

#test-bar {
    height: 10000px;
    width: 0px;
    position: absolute;
    border: 1px solid red;
    left: 50%;
    top: 0;
}

.star {
    position: absolute;
    font-size: 90px;
    font-style: normal;
    z-index: -1;
    color: rgba(242, 233, 204, 0.5);
} .small {
    font-size: 35px;
    color:rgba(242, 233, 204, 1);
} .big {
    font-size: 200px;
    font-weight: 900;
    color:rgba(242, 233, 204, 0.1);
} .giant {
    font-size: 700px;
    z-index: 2;
    font-weight: 1000;
    color: rgba(242, 233, 204, 0.1);
    top: 650px;
    left: 27.5%;

}

.r-s { top: 980px; right: 200px; }
.l-s { top: 560px; left: 35px; }

.r-m { top: 920px; right: 145px;}
.l-m { top: 540px; left: 35px; }

.r-b { top: 800px; right: 60px; color:rgba(242, 233, 204, 0.2);}
.l-b { top: 500px; left: 25px; }
