$violet:rgb(127, 0, 255);
$in-between-violet: rgb(0, 42, 255);
$blue: rgb(17, 199, 245);
$first-color: rgb(219, 253, 255);
$details-font : "BitMap";
$stylish-font : "Rosie";

@keyframes background-pan {
    from { background-position: 0% center; }
    to { background-position: -200% center; }
}



//______________________________________ CONTACT GENERAL SETTINGS ______________________________________//



.contact-body  {
    overflow: hidden;
    .contact-wrapper {
        display:grid;
        grid-template-columns: 30px 20fr;
    }
    .form-wrapper {
        display:flex;
        padding-top : 40px;
        margin-right: 150px;
        margin-left: 120px;
        height : 95vh;
        flex-direction: column; 
        .submit {
            margin-bottom:0;
            width: 100px;
        }
        #contact-button {
            border: none;
            &:hover {
                animation: background-pan 5s linear infinite;
                letter-spacing: 4px;
                font-family: $stylish-font;
                font-size: 50px;
                font-weight: bold;

                background: linear-gradient(to right, $blue, $violet, $blue);
                background-size: 200%;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }    
}



//______________________________________ MEDIAS SETTINGS ______________________________________//



.medias {
    display: flex;
    width: 100%;
    border: 1px red solid;  
    height: 50%;
    padding-right: -3px;
    margin-top: 25%;
    flex-direction: column;
    & > i {
        flex-grow: 1;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        height: 50%;
    }
}



//______________________________________ INPUTS SETTINGS ______________________________________//



input {
    height: 60px;
    margin-bottom: 10px; 

    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(135, 170, 172, 0.3);
    text-align:center;
    letter-spacing: 1px;
    font-size: 25px;
    color : $first-color;
    font-family:$details-font;
    transition: all 0.1s;
    &::placeholder { color:$first-color; opacity: 0.3; }
    &:hover {
        border: 1px solid $first-color;
        // faire le programme ref a hyperplex sur le hover du menu mais faire la meme pour les inpu
    }
    &:focus {
        outline:none !important;
        &::placeholder { color: transparent; }
    }

}



//______________________________________ TEXTAERA SETTINGS ______________________________________//



textarea {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(135, 170, 172, 0.3);
    resize: none;
    margin-bottom: 10px;
    padding-top: 20px;
    
    letter-spacing: 1px;
    text-align:center;
    font-size: 25px;
    color : $first-color;
    font-family:$details-font;

    transition: all 0.1s;
    &::placeholder { color:$first-color; opacity: 0.3; }
    &:hover {
        border: 1px solid $first-color;
    }
    &:focus {
        padding-left: 20px;
        text-align: start;
        outline:none !important;
        &::placeholder { color: transparent; }
    }
}