
@font-face { font-family: 'BitMap'; src: url('../../assets/fonts/BitMap/BitMap.woff2') format('woff2'); }

$details-font : "BitMap";
.hero-body {
    nav { position: fixed; }
    top: 0;
    left:0;
    color : rgb(146, 153, 197);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    .big {
        color: $first-color;
    }
    & > *:not(.nav-wrapper) {
        margin-bottom : 50px;
    }
    & > *:not(.nav-wrapper, nav, .pres-wrapper) {
        font-size: 25px;
        padding-left: 80px;
        padding-right: 80px;
        line-height: 40px;
    }
    .pres-wrapper {
        .pres-paragraph-intro {
            padding-top: 80px;
            text-align: center;
            font-size: 30px;
            word-spacing: 3px;
            font-family: $details-font;
        }
        
    }

    .where-from {
        #name {
            font-size: 30px;
            .magic {
                font-size:40px;
            }
            #though {
                padding-left: 20px;
            }
        }
        
    }

    .qualifications {

    }

    .in-the-future {

    }
}