@font-face { font-family: 'Fira'; src: url('../../assets/fonts/Fira.woff2') format('woff2'); }
$details-font : "BitMap";

$transparent-grey : rgba(223, 223, 223, 0.279);
$code-font : "Fira";
$white: rgb(194, 216, 218);

@keyframes background-pan {
    from { background-position: 0% center; }
    to { background-position: -200% center; }
}

.hero-body {
    nav { position: fixed; }
    top: 0;
    left:0;
    height: auto;
    background: linear-gradient(150deg, $dark-violet, $bg-color);
    color : $white;
    overflow-y: scroll;
    .introo {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        margin-top: 30px;
        width: 100vw;
        text-align: center;
    }
    .segment {
        overflow: hidden;
        width: 100vw;
        margin-top: 30px;
        .code {
            overflow: hidden;
            border: 1px solid $transparent-grey;
            border-radius: 15px;
            backdrop-filter: blur(30px);
            background-color: rgba(42, 23, 48, 0.319);
            margin : 0px 60px;
            padding: 15px 30px;
            p {
                font-family: $code-font;
                color: $white; 
                font-size: 1.3vw;
                .type { color: rgb(148, 49, 202); }
                .name { color: rgb(221, 97, 245); }
                .pp { color: rgb(207, 165, 230) ; }
                .string { color: rgb(141, 141, 141); }
                .std { color: rgb(14, 142, 156); }
                .values { color: rgb(125, 196, 255); }
                .function { color: rgb(62, 236, 212); }
                .commentary { color: rgb(100, 100, 100); }
            }
            .big {
                font-weight: bold;
            }

    
    
        }
    }
}

#easier-segment {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #easier-button {
        height: 10vh;
        background-color: transparent;
        margin-top: 5vh;
        width: 80%;
        margin: 5vh 160px 5vh 160px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: $transparent-grey 1px solid;
        color: $white;
        font-size : 2vw;
        font-family: $details-font;
        &:hover {
            border: 1px solid $white;
        }
    }
    #text-me {
        display:none;
        line-height: 35px;
        word-spacing: 2px;
        background-color: rgba(89, 32, 123, 0.146);
        border-radius: 45px;
        backdrop-filter: blur(30px);
        margin : 0px 7vw;
        padding: 40px 30px 40px 30px;
    }
}
.languages-wrapper {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: $transparent-grey 1px solid;
    #languages {
        width: 80%;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
    }
}
