.home-body {
    overflow: hidden;
    width:100vw;
    height: 100vh;
    .steve {
        position: absolute;
        left: 800px;
        z-index: -1000;
        top: 250px;
        transform: scale(2);   
        background-image : url("../../assets/images/STEVE.png");
        opacity : 0.4;
        background-repeat: no-repeat;
        width: 300px;
        height: 400px;
    }
    .home-text {
        position:absolute;
        left: 70px;
        top:140px;
        padding : 30px;
        font-style: italic;
        line-height: 50px;
        color: rgb(146, 153, 197);
        font-size : 35px;
        .bigger {
            color: rgb(219, 253, 255);
            font-size: 45px;
        }
    }
    
}