.home-body {
    overflow: hidden;
    width:100vw;
    height: 100vh;
    .steve {
        position: absolute;
        left: 65%;
        z-index: -1000;
        top: 40%;
        
        transform: scale(2);   
        background-image : url("../../assets/images/STEVE.png");
        opacity : 0.5;
        background-repeat: no-repeat;
        width: 30vw;
        height: 40vh;
    }
    .home-text {
        position:absolute;
        left: 70px;
        top:140px;
        padding : 30px;
        font-style: italic;
        line-height: 50px;
        color: rgb(146, 153, 197);
        font-size : 2.5vw;
    } 
}

.bigger {
    color: rgb(219, 253, 255);
    font-size: 3.5vw;
    font-style: italic;
}
#home-explain {
    position: absolute;
    bottom: 40px;
    left: 40px;
}