
$bg-color : rgb(26, 22, 21); 
body {
    overflow: hidden;
    main {
        top : 0;
        left : 0;
        height: 100vh;
        width: 100vw;
        .title-wrapper {
            padding-top: 50px;
            text-align: center;
            line-height: 190px;
            #greatest {
                font-size: 200px;
            }
        }
        
        .intro-p {
            position: absolute;
            display: flex;
            bottom: -10px;
            & > * {
                width: 100%;
                margin: 40px;
                font-size: 35px;
            }
            width: 100vw;
            font-family : "BitMap";
            .intro-to-PF {
                text-align: start;
            }
            .intro-explanations {
                text-align: end;
            }
        }
    }

    
    .big-ahh-circle {
        background: linear-gradient(310deg ,$bg-color 15%, rgb(127, 0, 255));
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        z-index: -3;
        width: 150rem;
        height: 150rem;
        
    }
    #sec {
        position: absolute;
        top: -1750px;
        left: -1200px;
    }
    #first {
        width: 75rem;
        height: 75rem;
        top: 150px;
        position: absolute;
        left: 500px;
        background: linear-gradient(150deg ,$bg-color 20%, rgb(0, 132, 255));
    }
    #third {
        background: linear-gradient(to top ,$bg-color, rgb(127, 0, 255));
        position: absolute;
        top: -1800px;
        left: -600px;
    }
}
