
#about-section {
    text-align: center; 
    #about {
        background-image:linear-gradient(to top, $bg-color, rgba(0, 0, 0, 0.2) 50%) , url("../assets/Hannibal.jpg");
        background-size: cover;
        height: 750px;
        padding-top: 100px;
        #about-title {
            margin-bottom: 80px;
            margin-left: 80px;
            margin-right: 80px;
        }
        #about-p {
            margin-right: 75px;
            margin-left: 75px;
            word-spacing: 5px;
            line-height: 200%;
            .detail-color { color: $secondary-color; }
            .bold {
                font-weight: 900;
                font-size: 25px;
            }
        }
    }
}


