
.nav-bar {

    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-items: center;

    font-family: $primary-font;
    font-size: 25px;
    
    backdrop-filter: blur(10px);
    background:linear-gradient(to bottom, rgba(26, 22, 21, 1), rgba(0, 0, 0, 0));
    border-bottom: solid 1px $first-color;

    img {
        z-index: 100;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    a {
        color: $first-color; 
        text-decoration: none;

        transition: all 0.1s ease-in 50ms;

        &:hover {
            color: $secondary-color;
            transform: translateY(-2px);
            font-weight: bold;
            border-bottom: 3px solid $secondary-color;
        }
        &:active { color: white; }
        &:nth-child(3) { grid-column: 8; }
    }
    #progress {
        position: fixed;
        background-color: $secondary-color;
        height: 5px;
        width: 0;
        top: 98px;
        left: -50px;
        border-radius: 25px;
        left: 0;
        z-index: 9999;
    }
}
